In [17]:
import pandas as pd
import requests
from io import StringIO

from nst_scraper import nst_on_ice_scraper

pd.set_option('display.max_columns', None)

In [18]:
player_stats_df = nst_on_ice_scraper(fromseason=20232024, thruseason=20232024, startdate='', enddate='')
player_stats_df.head()

,player,team,position,gp,toi,goals,total_assists,first_assists,second_assists,total_points,ipp,shots,sh%,ixg,icf,iff,iscf,ihdcf,rush_attempts,rebounds_created,pim,total_penalties,minor,major,misconduct,penalties_drawn,giveaways,takeaways,hits,hits_taken,shots_blocked,faceoffs_won,faceoffs_lost,faceoffs_%
0,Ryan Suter,DAL,D,82,1403.833333,2,14,6,8,16,26.23,99,2.02,3.72,245,159,67,6,2,15,24,12,12,0,0,0,28,14,75,92,86,0,0,-
1,Jeff Carter,PIT,C,72,664.900000,5,3,1,2,8,61.54,65,7.69,5.86,122,96,61,31,6,13,10,5,5,0,0,3,16,16,75,32,25,169,87,66.02
2,Zach Parise,COL,L,30,340.616667,4,3,1,2,7,70.00,43,9.30,4.56,68,54,41,23,4,11,6,3,3,0,0,2,4,10,20,22,23,11,21,34.38
3,Brent Burns,CAR,D,82,1276.683333,5,12,5,7,17,26.56,134,3.73,4.75,417,225,96,10,6,43,18,9,9,0,0,5,43,30,34,33,72,0,0,-
4,Corey Perry,"CHI, EDM",R,54,600.266667,9,7,4,3,16,53.33,61,14.75,7.57,114,92,71,37,4,13,46,17,13,4,0,14,17,15,42,66,17,0,1,0.00

In [19]:
goalie_stats_df = nst_on_ice_scraper(fromseason=20232024, thruseason=20232024, startdate='', enddate='', pos='g')
goalie_stats_df.head()

,player,team,gp,toi,shots_against,saves,goals_against,sv%,gaa,gsaa,xg_against,hd_shots_against,hd_saves,hd_goals_against,hdsv%,hdgaa,hdgsaa,md_shots_against,md_saves,md_goals_against,mdsv%,mdgaa,mdgsaa,ld_shots_against,ld_saves,ld_goals_against,ldsv%,ldgaa,ldgsaa,rush_attempts_against,rebound_attempts_against,avg._shot_distance,avg._goal_distance
0,Marc-Andre Fleury,MIN,40,1758.750000,802,738,64,0.920,2.18,5.40,65.04,170,142,28,0.835,0.96,2.91,196,172,24,0.878,0.82,-2.53,394,382,12,0.970,0.41,0.07,49,125,37.33,21.02
1,Jonathan Quick,NYR,27,1283.333333,618,560,58,0.906,2.71,-4.52,58.21,164,134,30,0.817,1.40,-0.19,170,149,21,0.876,0.98,-2.38,254,247,7,0.972,0.33,0.78,40,124,33.47,18.93
2,James Reimer,DET,25,1094.083333,551,496,55,0.900,3.02,-7.32,47.93,130,100,30,0.769,1.65,-6.37,140,122,18,0.871,0.99,-2.67,253,246,7,0.972,0.38,0.75,37,89,36.94,19.56
3,Semyon Varlamov,NYI,28,1301.083333,646,599,47,0.927,2.17,8.90,58.18,161,137,24,0.851,1.11,5.27,150,137,13,0.913,0.60,3.43,302,292,10,0.967,0.46,-0.75,46,143,34.86,22.83
4,Jacob Markstrom,CGY,48,2268.283333,1063,973,90,0.915,2.38,1.99,101.53,302,262,40,0.868,1.06,14.90,263,230,33,0.875,0.87,-4.19,449,432,17,0.962,0.45,-3.24,78,203,33.56,22.72

In [20]:
# Define the Lineup class
class Lineup:
    def __init__(self, name):
        self.name = name
        self.forwards = [None] * 12  # 12 Forward Slots
        self.defense = [None] * 6    # 6 Defense Slots
        self.goalies = [None] * 2    # 2 Goalie Slots

    def add_forward(self, player, slot):
        if 0 <= slot < 12:
            self.forwards[slot] = player
        else:
            raise IndexError("Forward slot must be between 0 and 11.")

    def add_defense(self, player, slot):
        if 0 <= slot < 6:
            self.defense[slot] = player
        else:
            raise IndexError("Defense slot must be between 0 and 5.")

    def set_goalie(self, player, slot):
        if 0 <= slot < 2:
            self.goalies[slot] = player
        else:
            print(f"Cannot assign goalie to slot {slot}. Maximum of two goalies allowed.")

    def display_lineup(self):
        print(f"Lineup: {self.name}")
        print("Forwards:")
        for idx, player in enumerate(self.forwards):
            print(f"  Slot {idx + 1}: {player if player else 'Empty'}")
        print("Defense:")
        for idx, player in enumerate(self.defense):
            print(f"  Slot {idx + 1}: {player if player else 'Empty'}")
        print("Goalies:")
        for idx, player in enumerate(self.goalies):
            print(f"  Slot {idx + 1}: {player if player else 'Empty'}")

In [21]:
# Define the Player class
class Player:
    def __init__(self, name, team, position, player_id=None):
        """
        Initializes a new Player instance.

        :param name: Full name of the player
        :param team: Team the player belongs to
        :param position: Position of the player (e.g., C, LW, RW, D, G)
        :param player_id: Unique identifier for the player (optional)
        """
        self.player_id = player_id
        self.name = name
        self.team = team
        self.position = position

    def __str__(self):
        """
        Returns a string representation of the player.
        """
        return f"{self.name} ({self.position}) - {self.team}"

    def to_dict(self):
        """
        Converts the Player instance into a dictionary.
        """
        return {
            'player_id': self.player_id,
            'name': self.name,
            'team': self.team,
            'position': self.position
        }

In [23]:
# Creating Player instances from the player_stats_df DataFrame
player_list = []
for _, row in player_stats_df.iterrows():
    player = Player(
        name=row['player'],
        team=row['team'],
        position=row['position']
        # player_id is not set initially
    )
    player_list.append(player)

In [25]:
# Convert player list to DataFrame
pd.DataFrame([{
    'name': player.name,
    'team': player.team, 
    'position': player.position
} for player in player_list])

                  name      team position
0           Ryan Suter       DAL        D
1          Jeff Carter       PIT        C
2          Zach Parise       COL        L
3          Brent Burns       CAR        D
4          Corey Perry  CHI, EDM        R
..                 ...       ...      ...
919       Jiri Smejkal       OTT        L
920  Nikolas Matinpalo       OTT        D
921    Waltteri Merela       T.B        C
922        Patrik Koch       ARI        D
923        Collin Graf       S.J        R

[924 rows x 3 columns]

In [ ]:
# Creating two lineup objects
lineup1 = Lineup("Lineup 1")
lineup2 = Lineup("Lineup 2")

# Adding players to lineup1
for i, player in enumerate(player_list[:12]):  # First 12 as forwards
    lineup1.add_forward(player, i)

for i, player in enumerate(player_list[12:18]):  # Next 6 as defense
    lineup1.add_defense(player, i)

# Adding goalies to lineup1
for i, goalie in enumerate(goalie_stats_df.itertuples(), 0):  # Goalies
    if i >= 2:
        print("Maximum of two goalies have been assigned.")
        break
    goalie_player = Player(
        name=getattr(goalie, 'player', 'Unknown'),
        team=getattr(goalie, 'team', 'Unknown'),
        position=getattr(goalie, 'position', 'G')
        # player_id is not set initially
    )
    lineup1.set_goalie(goalie_player, i)

# Display the lineup
lineup1.display_lineup()

In [16]:
# Example of creating Player instances from the player_stats_df DataFrame
player_list = []
for _, row in player_stats_df.iterrows():
    player = Player(
        name=row['player'],
        team=row['team'],
        position=row['position']
        # player_id is not set initially
    )
    player_list.append(player)

# Creating two lineup objects
lineup1 = Lineup("Lineup 1")
lineup2 = Lineup("Lineup 2")

# Adding players to lineup1
for i, player in enumerate(player_list[:12]):  # First 12 as forwards
    lineup1.add_forward(player, i)

for i, player in enumerate(player_list[12:18]):  # Next 6 as defense
    lineup1.add_defense(player, i)

# Adding goalies to lineup1
for i, goalie in enumerate(goalie_stats_df.itertuples(), 0):  # Goalies
    goalie_player = Player(
        name=getattr(goalie, 'player', 'Unknown'),
        team=getattr(goalie, 'team', 'Unknown'),
        position=getattr(goalie, 'position', 'G')
        # player_id is not set initially
    )
    lineup1.set_goalie(goalie_player, i)

# Display the lineup
lineup1.display_lineup()

Cannot assign goalie to slot 2. Maximum of two goalies allowed.
Cannot assign goalie to slot 3. Maximum of two goalies allowed.
Cannot assign goalie to slot 4. Maximum of two goalies allowed.
Cannot assign goalie to slot 5. Maximum of two goalies allowed.
Cannot assign goalie to slot 6. Maximum of two goalies allowed.
Cannot assign goalie to slot 7. Maximum of two goalies allowed.
Cannot assign goalie to slot 8. Maximum of two goalies allowed.
Cannot assign goalie to slot 9. Maximum of two goalies allowed.
Cannot assign goalie to slot 10. Maximum of two goalies allowed.
Cannot assign goalie to slot 11. Maximum of two goalies allowed.
Cannot assign goalie to slot 12. Maximum of two goalies allowed.
Cannot assign goalie to slot 13. Maximum of two goalies allowed.
Cannot assign goalie to slot 14. Maximum of two goalies allowed.
Cannot assign goalie to slot 15. Maximum of two goalies allowed.
Cannot assign goalie to slot 16. Maximum of two goalies allowed.
Cannot assign goalie to slot 17. Maximum of two goalies allowed.
Cannot assign goalie to slot 18. Maximum of two goalies allowed.
Cannot assign goalie to slot 19. Maximum of two goalies allowed.
Cannot assign goalie to slot 20. Maximum of two goalies allowed.
Cannot assign goalie to slot 21. Maximum of two goalies allowed.
Cannot assign goalie to slot 22. Maximum of two goalies allowed.
Cannot assign goalie to slot 23. Maximum of two goalies allowed.
Cannot assign goalie to slot 24. Maximum of two goalies allowed.
Cannot assign goalie to slot 25. Maximum of two goalies allowed.
Cannot assign goalie to slot 26. Maximum of two goalies allowed.
Cannot assign goalie to slot 27. Maximum of two goalies allowed.
Cannot assign goalie to slot 28. Maximum of two goalies allowed.
Cannot assign goalie to slot 29. Maximum of two goalies allowed.
Cannot assign goalie to slot 30. Maximum of two goalies allowed.
Cannot assign goalie to slot 31. Maximum of two goalies allowed.
Cannot assign goalie to slot 32. Maximum of two goalies allowed.
Cannot assign goalie to slot 33. Maximum of two goalies allowed.
Cannot assign goalie to slot 34. Maximum of two goalies allowed.
Cannot assign goalie to slot 35. Maximum of two goalies allowed.
Cannot assign goalie to slot 36. Maximum of two goalies allowed.
Cannot assign goalie to slot 37. Maximum of two goalies allowed.
Cannot assign goalie to slot 38. Maximum of two goalies allowed.
Cannot assign goalie to slot 39. Maximum of two goalies allowed.
Cannot assign goalie to slot 40. Maximum of two goalies allowed.
Cannot assign goalie to slot 41. Maximum of two goalies allowed.
Cannot assign goalie to slot 42. Maximum of two goalies allowed.
Cannot assign goalie to slot 43. Maximum of two goalies allowed.
Cannot assign goalie to slot 44. Maximum of two goalies allowed.
Cannot assign goalie to slot 45. Maximum of two goalies allowed.
Cannot assign goalie to slot 46. Maximum of two goalies allowed.
Cannot assign goalie to slot 47. Maximum of two goalies allowed.
Cannot assign goalie to slot 48. Maximum of two goalies allowed.
Cannot assign goalie to slot 49. Maximum of two goalies allowed.
Cannot assign goalie to slot 50. Maximum of two goalies allowed.
Cannot assign goalie to slot 51. Maximum of two goalies allowed.
Cannot assign goalie to slot 52. Maximum of two goalies allowed.
Cannot assign goalie to slot 53. Maximum of two goalies allowed.
Cannot assign goalie to slot 54. Maximum of two goalies allowed.
Cannot assign goalie to slot 55. Maximum of two goalies allowed.
Cannot assign goalie to slot 56. Maximum of two goalies allowed.
Cannot assign goalie to slot 57. Maximum of two goalies allowed.
Cannot assign goalie to slot 58. Maximum of two goalies allowed.
Cannot assign goalie to slot 59. Maximum of two goalies allowed.
Cannot assign goalie to slot 60. Maximum of two goalies allowed.
Cannot assign goalie to slot 61. Maximum of two goalies allowed.
Cannot assign goalie to slot 62. Maximum of two goalies allowed.
Cannot assign goalie to slot 63. Maximum of two goalies allowed.
Cannot assign goalie to slot 64. Maximum of two goalies allowed.
Cannot assign goalie to slot 65. Maximum of two goalies allowed.
Cannot assign goalie to slot 66. Maximum of two goalies allowed.
Cannot assign goalie to slot 67. Maximum of two goalies allowed.
Cannot assign goalie to slot 68. Maximum of two goalies allowed.
Cannot assign goalie to slot 69. Maximum of two goalies allowed.
Cannot assign goalie to slot 70. Maximum of two goalies allowed.
Cannot assign goalie to slot 71. Maximum of two goalies allowed.
Cannot assign goalie to slot 72. Maximum of two goalies allowed.
Cannot assign goalie to slot 73. Maximum of two goalies allowed.
Cannot assign goalie to slot 74. Maximum of two goalies allowed.
Cannot assign goalie to slot 75. Maximum of two goalies allowed.
Cannot assign goalie to slot 76. Maximum of two goalies allowed.
Cannot assign goalie to slot 77. Maximum of two goalies allowed.
Cannot assign goalie to slot 78. Maximum of two goalies allowed.
Cannot assign goalie to slot 79. Maximum of two goalies allowed.
Cannot assign goalie to slot 80. Maximum of two goalies allowed.
Cannot assign goalie to slot 81. Maximum of two goalies allowed.
Cannot assign goalie to slot 82. Maximum of two goalies allowed.
Cannot assign goalie to slot 83. Maximum of two goalies allowed.
Cannot assign goalie to slot 84. Maximum of two goalies allowed.
Cannot assign goalie to slot 85. Maximum of two goalies allowed.
Cannot assign goalie to slot 86. Maximum of two goalies allowed.
Cannot assign goalie to slot 87. Maximum of two goalies allowed.
Cannot assign goalie to slot 88. Maximum of two goalies allowed.
Cannot assign goalie to slot 89. Maximum of two goalies allowed.
Cannot assign goalie to slot 90. Maximum of two goalies allowed.
Cannot assign goalie to slot 91. Maximum of two goalies allowed.
Cannot assign goalie to slot 92. Maximum of two goalies allowed.
Cannot assign goalie to slot 93. Maximum of two goalies allowed.
Cannot assign goalie to slot 94. Maximum of two goalies allowed.
Cannot assign goalie to slot 95. Maximum of two goalies allowed.
Cannot assign goalie to slot 96. Maximum of two goalies allowed.
Cannot assign goalie to slot 97. Maximum of two goalies allowed.
Lineup: Lineup 1
Forwards:
  Slot 1: Ryan Suter (D) - DAL
  Slot 2: Jeff Carter (C) - PIT
  Slot 3: Zach Parise (L) - COL
  Slot 4: Brent Burns (D) - CAR
  Slot 5: Corey Perry (R) - CHI, EDM
  Slot 6: Joe Pavelski (C) - DAL
  Slot 7: Mark Giordano (D) - TOR
  Slot 8: Alex Ovechkin (L) - WSH
  Slot 9: Evgeni Malkin (C) - PIT
  Slot 10: Blake Wheeler (R) - NYR
  Slot 11: Alex Goligoski (D) - MIN
  Slot 12: Sidney Crosby (C) - PIT
Defense:
  Slot 1: Jack Johnson (D) - COL
  Slot 2: Anze Kopitar (C) - L.A
  Slot 3: Marc Staal (D) - PHI
  Slot 4: T.J. Oshie (R) - WSH
  Slot 5: Andrew Cogliano (C) - COL
  Slot 6: Marc-Edouard Vlasic (D) - S.J
Goalies:
  Slot 1: Marc-Andre Fleury (G) - MIN
  Slot 2: Jonathan Quick (G) - NYR

In [7]:
# Example of creating Player instances from the player_stats_df DataFrame
player_list = []
for _, row in player_stats_df.iterrows():
    player = Player(
        player_id=row['playerId'],          # Assuming 'playerId' exists in your DataFrame
        name=row['player'],
        team=row['team'],
        position=row['position'],
        gp=row['gp'],
        toi=row['toi'],
        goals=row['goals'],
        assists=row['assists'],
        points=row['points'],
        plus_minus=row.get('plus_minus', 0), # Use .get to handle missing columns
        pim=row.get('pim', 0)
    )
    player_list.append(player)

# Creating two lineup objects
lineup1 = Lineup("Lineup 1")
lineup2 = Lineup("Lineup 2")

# Adding players to lineup1
for i, player in enumerate(player_list[:12]):  # First 12 as forwards
    lineup1.add_forward(player, i)

for i, player in enumerate(player_list[12:18]):  # Next 6 as defense
    lineup1.add_defense(player, i)

for i, goalie in enumerate(goalie_stats_df.itertuples(), 2):  # Goalies
    lineup1.set_goalie(Player(goalie.playerId, goalie.player, goalie.team, goalie.position, goalie.gp, goalie.toi, goals=goalie.goals, assists=goalie.assists, points=goalie.points), i)

# Display the lineup
lineup1.display_lineup()

KeyError: 'playerId'

In [11]:
# Creating two lineup objects
lineup1 = Lineup("Lineup 1")
lineup2 = Lineup("Lineup 2")

# Example of loading players from DataFrames
# Assuming player_df and goalie_df are already defined

# Adding random forwards to lineup1
for i in range(12):
    if i < len(player_df):
        lineup1.add_forward(player_df.iloc[i]['player'], i)

# Adding defense to lineup1
for i in range(6):
    if i < len(player_df):
        lineup1.add_defense(player_df.iloc[i + 12]['player'], i)

# Setting goalies for lineup1
for i in range(2):
    if i < len(goalie_df):
        lineup1.set_goalie(goalie_df.iloc[i]['player'], i)

# Repeat similar steps for lineup2 as needed

# Display the lineup
lineup1.display_lineup()

Lineup: Lineup 1
Forwards:
  Slot 1: Ryan Suter
  Slot 2: Jeff Carter
  Slot 3: Zach Parise
  Slot 4: Brent Burns
  Slot 5: Corey Perry
  Slot 6: Joe Pavelski
  Slot 7: Mark Giordano
  Slot 8: Alex Ovechkin
  Slot 9: Evgeni Malkin
  Slot 10: Blake Wheeler
  Slot 11: Alex Goligoski
  Slot 12: Sidney Crosby
Defense:
  Slot 1: Jack Johnson
  Slot 2: Anze Kopitar
  Slot 3: Marc Staal
  Slot 4: T.J. Oshie
  Slot 5: Andrew Cogliano
  Slot 6: Marc-Edouard Vlasic
Goalies:
  Slot 1: Marc-Andre Fleury
  Slot 2: Jonathan Quick

In [ ]:
from team_utils import get_team_roster

get_team_roster('TOR', 20232024)

In [13]:
from pbp_utils import get_matchup_games

games = get_matchup_games('2024-11-11', '2024-11-17')
pd.DataFrame({
    'game_id': games['game_ids']['id'],
    'date': games['game_ids']['date']
}).head()

      game_id        date
0  2024020239  2024-11-11
1  2024020240  2024-11-11
2  2024020241  2024-11-11
3  2024020242  2024-11-11
4  2024020243  2024-11-11

In [8]:
from game_utils import get_game_boxscore, display_boxscore

temp_data = get_game_boxscore(2024020255)

In [9]:
away_skaters, away_goalies, home_skaters, home_goalies = display_boxscore(temp_data)
away_skaters

,playerId,sweaterNumber,name,position,goals,assists,points,plusMinus,pim,hits,powerPlayGoals,sog,faceoffWinningPctg,toi,blockedShots,shifts,giveaways,takeaways,team
0,8477960,9,A. Kempe,R,2,0,2,0,0,1,0,4,0.000000,19:11,1,23,0,0,Away
1,8471685,11,A. Kopitar,C,0,2,2,0,0,0,0,1,0.769231,19:29,0,23,0,0,Away
2,8479675,12,T. Moore,L,0,2,2,0,0,1,0,0,0.000000,18:52,1,24,0,0,Away
3,8482155,14,A. Laferriere,R,0,0,0,-3,0,2,0,1,0.000000,15:46,0,22,0,1,Away
4,8477942,22,K. Fiala,L,0,0,0,-1,2,2,0,1,0.000000,18:00,2,22,2,0,Away
5,8476479,24,P. Danault,C,0,0,0,-1,2,1,0,0,0.636364,18:11,1,25,1,1,Away
6,8480851,26,A. Thomas,C,0,0,0,0,0,1,0,0,0.000000,11:09,1,15,0,0,Away
7,8477998,37,W. Foegele,L,0,0,0,-1,0,2,0,1,0.000000,15:37,1,25,2,0,Away
8,8481732,47,A. Lee,L,0,0,0,-1,0,3,0,2,0.000000,10:43,2,13,0,1,Away
9,8482124,55,Q. Byfield,R,0,0,0,-1,0,1,0,1,0.500000,13:46,0,22,2,0,Away
10,8473453,61,T. Lewis,C,0,0,0,0,0,1,0,0,1.000000,09:42,1,14,0,0,Away
11,8482726,79,S. Helenius,C,0,0,0,0,0,2,0,0,1.000000,08:09,0,12,0,0,Away
12,8476441,6,J. Edmundson,D,0,0,0,1,2,2,0,1,0.000000,22:05,1,32,1,1,Away
13,8481606,21,J. Spence,D,0,0,0,-3,0,0,0,1,0.000000,17:59,1,22,1,0,Away
14,8479998,44,M. Anderson,D,0,0,0,0,0,3,0,0,0.000000,24:08,5,28,0,0,Away
15,8478452,82,C. Jones,D,0,0,0,-1,0,2,0,0,0.000000,05:56,0,9,0,0,Away
16,8478882,84,V. Gavrikov,D,0,0,0,0,0,0,0,1,0.000000,25:52,1,29,1,0,Away
17,8482730,92,B. Clarke,D,0,0,0,0,0,0,0,1,0.000000,20:12,0,29,1,0,Away

In [10]:
away_goalies

,playerId,sweaterNumber,name,position,evenStrengthShotsAgainst,powerPlayShotsAgainst,shorthandedShotsAgainst,saveShotsAgainst,savePctg,evenStrengthGoalsAgainst,powerPlayGoalsAgainst,shorthandedGoalsAgainst,pim,goalsAgainst,toi,starter,decision,shotsAgainst,saves,team
0,8479496,31,D. Rittich,G,4/5,0/0,0/0,4/5,0.8,1,0,0,0,1,14:41,False,L,5,4,Away
1,8475311,35,D. Kuemper,G,17/19,1/1,0/0,18/20,0.9,2,0,0,0,2,44:32,True,NaN,20,18,Away

In [11]:
home_skaters

,playerId,sweaterNumber,name,position,goals,assists,points,plusMinus,pim,hits,powerPlayGoals,sog,faceoffWinningPctg,toi,blockedShots,shifts,giveaways,takeaways,team
0,8476391,9,T. Tynan,C,0,0,0,0,0,0,0,0,0.000000,07:39,1,12,1,0,Home
1,8475780,14,C. Wagner,R,0,0,0,0,0,0,0,0,0.000000,04:24,0,10,0,0,Home
2,8480448,17,P. Kelly,C,0,0,0,0,0,3,0,1,0.555556,13:12,2,21,1,0,Home
3,8481186,25,L. O'Connor,R,0,1,1,1,0,1,0,0,0.000000,15:56,0,23,1,0,Home
4,8477492,29,N. MacKinnon,C,0,3,3,3,0,1,0,3,0.272727,24:45,0,27,1,0,Home
5,8479999,37,C. Mittelstadt,C,0,0,0,-1,0,0,0,1,0.428571,18:35,0,22,3,2,Home
6,8481042,51,N. Kovalenko,R,0,0,0,-1,2,2,0,0,0.000000,14:57,0,19,0,0,Home
7,8477476,62,A. Lehkonen,L,1,1,2,2,0,1,0,3,0.000000,23:13,1,25,0,0,Home
8,8483930,82,I. Ivan,C,0,0,0,-1,0,1,0,1,0.000000,16:18,1,19,0,0,Home
9,8485105,85,N. Prishchepov,C,0,0,0,0,0,1,0,1,0.000000,04:23,0,8,0,0,Home
10,8481641,94,J. Kiviranta,L,0,0,0,0,0,1,0,0,0.000000,14:31,1,20,1,0,Home
11,8478420,96,M. Rantanen,R,3,1,4,3,0,1,0,7,0.400000,23:36,0,25,0,1,Home
12,8478038,7,D. Toews,D,0,0,0,-1,0,1,0,2,0.000000,24:44,1,27,1,0,Home
13,8480069,8,C. Makar,D,0,1,1,2,0,0,0,1,0.000000,22:54,1,26,0,1,Home
14,8476312,42,J. Manson,D,0,0,0,0,0,5,0,3,0.000000,17:45,1,23,0,0,Home
15,8475177,44,C. de Haan,D,0,0,0,1,0,1,0,0,0.000000,14:49,2,19,2,0,Home
16,8479398,49,S. Girard,D,0,0,0,1,0,1,0,0,0.000000,21:27,2,26,0,0,Home
17,8484258,70,S. Malinski,D,0,0,0,1,0,0,0,3,0.000000,14:52,2,18,1,0,Home

In [14]:
home_goalies

,playerId,sweaterNumber,name,position,evenStrengthShotsAgainst,powerPlayShotsAgainst,shorthandedShotsAgainst,saveShotsAgainst,savePctg,evenStrengthGoalsAgainst,powerPlayGoalsAgainst,shorthandedGoalsAgainst,pim,goalsAgainst,toi,starter,decision,shotsAgainst,saves,team
0,8480382,40,A. Georgiev,G,11/13,2/2,0/0,13/15,0.866667,2,0,0,0,2,60:00,True,W,15,13,Home
1,8481020,60,J. Annunen,G,0/0,0/0,0/0,0/0,NaN,0,0,0,0,0,00:00,False,NaN,0,0,Home

In [17]:
lineup2.display_lineup()

Lineup: Lineup 2
Forwards:
  Slot 1: Empty
  Slot 2: Empty
  Slot 3: Empty
  Slot 4: Empty
  Slot 5: Empty
  Slot 6: Empty
  Slot 7: Empty
  Slot 8: Empty
  Slot 9: Empty
  Slot 10: Empty
  Slot 11: Empty
  Slot 12: Empty
Defense:
  Slot 1: Empty
  Slot 2: Empty
  Slot 3: Empty
  Slot 4: Empty
  Slot 5: Empty
  Slot 6: Empty
Goalie: Empty